<!DOCTYPE html>
<html>
    <head>
        <title>Leon's Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 28.03.2026, 14:55</time>
            <h2><a href="">My first post</a></h2>
            <p> This is leon's first post. </p>
        </article>

        <article>
            <time>published: 28.03.2026, 14:56</time>
            <h2><a href="">My second post</a></h2>
            <p> Leon's second post.</p>
        </article>
    </body>
</html>